<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

        <div class="clear">
     {{#if success}}
    <div class="alert alert-success text-center">{{success}}</div>
      {{/if}}

        {{#if error}}
    <div class="alert alert-danger text-center">{{error}}</div>
      {{/if}}



      </div>
  


  <h1 class="text-center my-3">Cadastro de videos</h1>
<form action="/cadastrar" method="post">
  <div class="row w-50 d-block m-auto g-3">
    <div class="col-12">
      <label class="form-label" for="title">Titulo:</label>
      <input
        class="form-control"
        type="title"
        name="titulo"
        id="title"
        placeholder="Digite o titulo do filme"
        autofocus="true";
      />
    </div>
    <div class="col-12">
      <label class="form-label" for="category">Categoria:</label>
      <input
        class="form-control"
        type="category"
        name="category"
        id="category"
        placeholder="Informa a categoria do filme."
      />
    </div>
    <div class="col-12">
      <select
        class="form-select"
        aria-label="Default Select example"
        name="gender"
      >

        <option value="" selected>Selecione</option>
        <option value="" selected>Selecione o Genero do filme</option>
        <option value="Ação">Ação</option>
        <option value="Suspense">Suspense</option>
        <option value="Comédia">Comédia</option>
        <option value="Terror">Terror</option>
        <option value="Drama">Drama</option>
         <option value="Romance">Romance</option>
      </select>
    </div>

    <div class="col-12">
      <label class="form-label" for="link">sinopse:</label>
      <textarea
        class="form-control"
        name="sinopse"
        id="sinopse"
        placeholder="Sinopse do filme"
        style="resize: none"
      >

      </textarea>

    </div>

    <div class="col-12">
      <label class="form-label" for="link">Link do filme:</label>
      <input
        class="form-control"
        name="link"
        id="link"
        placeholder="Link do filme"
      />
    </div>

    <div>
      <input
        class="btn btn-primary my-3"
        type="submit"
        value="Cadastrar Filmes"
      />
    </div>
    <div>



   

  </div>
</form>





    
  

  
</body>
</html>
































